// Color Scheme
$color-primary-05: rgb(45, 123, 229, 0.05);
$color-primary-10: rgb(45, 123, 229, 0.1);
$color-primary-20: rgb(45, 123, 229, 0.2);
$color-primary-30: rgb(45, 123, 229, 0.3);
$color-primary-40: rgb(45, 123, 229, 0.4);
$color-primary-50: rgb(45, 123, 229, 0.5);
$color-primary: #2d7be5;
$color-secondary: #738293;
$color-success: #01d27a;
$color-info: #28bcfd;
$color-warning: #f5803d;
$color-danger: #e63856;
$color-light: #f9fafd;
$color-dark: #0c1827;
// Soft Colors
$color-soft-primary: #e6effc;
$color-soft-secondary: #edf0f2;
$color-soft-success: #e0faef;
$color-soft-info: #e5f6ff;
$color-soft-warning: #feefe8;
$color-soft-danger: #fbe7eb;
$color-soft-light: #fefeff;
$color-soft-dark: #e2e3e5;
// Gray shades
$shade-black: #0c1827;
$shade-1100: #0c1827;
$shade-1000: #738293;
$shade-900: #334150;
$shade-800: #4c5a69;
$shade-700: #5e6f82;
$shade-600: #738293;
$shade-500: #9da9bb;
$shade-400: #b6c2d1;
$shade-300: #d8e2ef;
$shade-200: #edf2f8;
$shade-100: #f9fafd;
$shade-white: #ffffff;
$shade-alpha-05: rgba(141, 148, 156, 0.05);
$shade-alpha-10: rgb(141, 148, 156, 0.1);
$shade-alpha-20: rgb(141, 148, 156, 0.2);
$shade-alpha-30: rgb(141, 148, 156, 0.3);
$shade-alpha-40: rgb(141, 148, 156, 0.4);
$shade-alpha-50: rgb(141, 148, 156, 0.5);
