/*
  "Design adds value faster than it adds costs."
  start building your custom CSS code here
*/
.ks-layout--side {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  grid-template-areas:
    "Navigation Content"
    "Navigation Content"
    ;
}

@media (max-width: 480px) {
  .ks-layout__navigation{
    display: none;
  }

  .ks-layout--side {
    grid-template-columns: 1fr;
    grid-template-areas:
    "Content"
    "Content"
    ;
  }
}

.ks-layout--top {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 1fr;
  gap: 0px;
  grid-template-areas:
    "Navigation Navigation"
    "Content Content"
    ;
}

.ks-layout__navigation {
  grid-area: Navigation;
}

.ks-layout__content {
  grid-area: Content;
}

.ks-layout--top > .ks-layout__navigation {
  background: black !important;
  height: 70px;
  overflow: hidden;
}


.ks-ranked-list-item__cell--numeric-bar--positive{
  animation: blinkPositive 3s ease-in-out infinite;
  border-radius: 8px 0;
}

.ks-ranked-list-item__cell--numeric-bar--negative{
  border-left: 2px solid orangered;
}

@keyframes blinkPositive {
  0% {
    border-color: rgba(173, 255, 47, 1)
  };
  50% {
    border-color: rgba(173, 255, 47, 0.2)
  };
  100% {
    border-color: rgba(173, 255, 47, 1)
  };
}


.ks-card-title{

}

.ks-card-title__value{

}
